
# dbt build artifacts
target/
dbt_packages/
logs/

# Python virtual environments
.env/
venv/
__pycache__/
*.pyc

# Environment variables
*.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

